.dsmeta-red-btn {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    background: rgba(77, 16, 31, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-btn img {
    width: 19px;
    height: 19px;
   
}